#container{
display:flex;
width:60%;
margin:auto;
background-color:skyblue;
justify-content: space-around;
border:1px solid black;
margin-bottom:20px;
align-items: center;

}
#container>div{
    height:50px;
    font-size: 30px;
    
}
a{
    text-decoration: none;
    color:red
}